<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/departments">Departments</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</nav>

<hr/>
<h1>404 - Neja nuk osht knej!</h1>
<p>Mos shkruj linka palidhje veq hajt!!!</p>
<hr />

<footer>
    <i>@Copyright by Naim Sulejmani - 2024</i>
</footer>



</body>
</html>











